@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@400&display=swap");

.home-page {
  display: flex;
  height: 100vh;
  /* background: linear-gradient(135deg, #00feba, #5b548a); */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 550px;
  height: auto;
  margin-bottom: 10px;
}

.title {
  font-family: "Nunito", sans-serif;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
}

.register-btn {
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
}

.background-img {
  flex: 1;
  background: url("./../../assets/images/background-image.jpg") no-repeat center
    center;
  background-size: cover;
}
